* {
    margin: 0px;
    padding: 0px;
}
#container {
    width: 100vw;
    height: 100vh;
    background-color: #085F63;
    text-align: center;
    z-index: 0;
}
#entername {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-wrap: wrap;
    z-index: 1;
}
#nametext {
    width: 100vw;
    font-size: 5vh;
    color:antiquewhite;
    margin-top: 30vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    z-index: 2;
}
#nameinput {
    width: 100vw;
}
#nameinput input{
    height: 10vh;
    width: 30vw;
    text-align: center;
    background-color:antiquewhite;
    font-size: 5vh;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border: none;
    z-index: 2;
}
#namebutton {
    width: 100vw;
    margin-bottom: 30vh;
    border: none;
    z-index: 2;
}
#namebutton button {
    width: 20vw;
    height: 5vh;
    background-color:cadetblue;
    color:antiquewhite;
    font-size: 2.5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
#teamselect {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-wrap: wrap;
}
#teamtext {
    width: 100vw;
    height: 15vh;
    color:antiquewhite;
    font-size: 5vh;
    padding-top: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.team {
    width: 50vw;
    height: 80vh;
}
#redteam {
    background-color:firebrick;
}
#blueteam {
    background-color:cadetblue;
}
.teambutton {
    width: 100%;
    height: 100%;
    background: none;
    color: antiquewhite;
    font-size: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
#game {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgb(52, 122, 52);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    border-width: 5%;
    border-color: black;
}
#resetbutton {
    position: absolute;
    top: 1vh;
    right: 1vw;
    width: 5vw;
    height: 3vh;
    border: none;
}
#resetbutton button {
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vh;
    background-color: firebrick;
    color: antiquewhite;
}
#winner {
    width: 50vw;
    height: 45vh;
    background-color: darkgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vh;
    line-height: 4vh;
    color: antiquewhite;
    padding-top: 5vh;
    z-index: 3;
    display: 'none';
}
#winner button {
    width: 25vw;
    height: 7.5vh;
    background-color: antiquewhite;
    color:rgb(44, 90, 40);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vh;
    border: none;
}
#gamelog {
    width: 30vw;
    height: 4vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.0vh;
    background-color: antiquewhite;
    color: black;
    text-align: center;
    position: absolute;
    bottom: 1vh;
    border-radius: 0.5vw;
    border: solid black;
}
#hand {
    width: 60vw;
    height: 32.5vh;
    position: absolute;
    bottom: 1.5vh;
    overflow: hidden;
}
.cardbutton {
    width: 7.5vw;
    height: 26.5vh;
    background: none;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border: none;
}
.cardimage {
    width: 100%;
    height: 100%;
    border-radius: 7.5%;
    border: solid rgb(76, 156, 69) 0.5vh;
    visibility: hidden;
}
.player {
    border: solid rgb(44, 90, 40);
    background-color:rgb(76, 156, 69);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vh;
    overflow: hidden;
}
#playerleft{
    width: 10vw;
    height: 30vh;
    position: absolute;
    top: 25vh;
    left: 0vw;
}
#playertop{
    width: 20vw;
    height: 7.5vw;
    position: absolute;
    top: 0vh;
    left: 40vw;
}
#playerright{
    width: 10vw;
    height: 30vh;
    position: absolute;
    top: 27.5vh;
    right: 0vw;
}
.playerimage {
    width: 10vw;
    height: 12vh;
    position: absolute;
}
#playerleftimage {
    transform: rotate(90deg);
    top: 9vh;
    left: 0vw;
    visibility: hidden;
}
#playertopimage {
    transform: rotate(180deg);
    top: 2.5vh;
    left: 5vw;
    visibility: hidden;
}
#playerrightimage {
    transform: rotate(270deg);
    top: 9vh;
    right: 0vw;
    visibility: hidden;
}
#pile {
    width: 15vw;
    height: 26vh;
    position: absolute;
    top: 27.5vh;
    left: 42.5vw;
    border: solid rgb(44, 90, 40);
    background-color:rgb(76, 156, 69);
    border-radius: 50%;
}
#pileimage {
    width: 10vw;
    height: 16vh;
    position: absolute;
    top:5vh;
    left: 2.5vw;
    visibility: hidden;
}
.playimage{
    width: 6vw;
    height: 20vh;
    position: absolute;
    border-radius: 7.5%;
}
#myplayimage{
    top: 18vh;
    left: 4.5vw;
    visibility: hidden;
}
#leftplayimage{
    top: 4vh;
    left: -3vw;
    transform: rotate(90deg);
    visibility: hidden;
}
#topplayimage{
    top: -12vh;
    left: 4.5vw;
    transform: rotate(180deg);
    visibility: hidden;
}
#rightplayimage{
    top: 4vh;
    right: -3vw;
    transform: rotate(270deg);
    visibility: hidden;
}
#playbutton button{
    width: 15vw;
    height: 25vh;
    position: absolute;
    bottom: 7.5vh;
    right: 5vw;
    font-size: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: antiquewhite;
    background-color: rgb(44, 90, 40);
    border: solid rgb(76, 156, 69) 0.5vh;
}
#playbutton button:active {
    border: solid rgb(184, 219, 180) 0.5vh;
}
#biddiv {
    position: absolute;
    bottom: 22vh;
    left: 4vw;
    width: 15vw;
    height: 15vh;
    line-height: 9vh;
    visibility: hidden;
}
.bidbutton {
    font-size: 2.5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    width: 4vw;
    height: 4vw;
    border: solid black;
    border-radius: 50%;
    background-color: antiquewhite;
}
#bid6out {
    font-size: 2.5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    width: 12vw;
    height: 2vw;
    border: solid black;
    background-color: antiquewhite;
}
#pass {
    font-size: 2.5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    width: 12vw;
    height: 3.5vw;
    border: solid black;
    background-color: antiquewhite;
}
#suitdiv {
    position: absolute;
    bottom: 22vh;
    left: 4vw;
    width: 15vw;
    height: 15vh;
    line-height: 9vh;
    visibility: hidden;
}
.suitbutton {
    font-size: 2.5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    width: 15vw;
    height: 3vw;
    border: solid black;
    background-color: antiquewhite;
}
#pilecards {
    width: 60vw;
    height: 27.5vh;
    position: absolute;
    bottom: 35vh;
    overflow: hidden;
}
#score {
    position: absolute;
    top: 2.5vh;
    left: 3vw;
    width: 20vw;
    height: 15vh;
    font-size: 4vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: antiquewhite;
    border-spacing: 5vw;
}
#score table{
    width: 100%;
    height: 100%;
    padding: auto;
}
#redteamtext {
    color: firebrick;
    border-bottom: solid antiquewhite;
    border-right: solid antiquewhite;
}
#blueteamtext {
    color: cadetblue;
    border-bottom: solid antiquewhite;
}
#redteamscore {
    border-right: solid antiquewhite;
}